<% layout('./layout/page')%>
<% block('title', 'room')%>
<% if (user) { %>
<p style="text-align:center;font-size: 16px;"> Добро пожаловать, <%=user.get('username')%> </p>
<% } %>

<div class="container" style="text-align: center;">
	<form name="party-form" class="form-inline">
	<input type="hidden" name="party_author" value=<%=user.get('username')%> />
	  <div class="form-group">
	    <label for="exampleInputName2">Название мероприятия</label>
	    <input type="text" class="form-control" name="party_title" id="input-title placeholder="Название мероприятия">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail2">Описание</label>
	    <input type="text" class="form-control" name="party_description" id="input-descr" placeholder="Описание">
	  </div>
	  <button type="submit" class="btn btn-default">Добавить</button>
	  <button type="button" class="btn btn-default" onClick="$('<form method=POST action=/chatout>').submit();return false">Отмена</button>
	</form>
</div>
<br>
<% if (parties) { %>
<div class="container">
<% parties.forEach( function(party) { %>
	    <div class="thumbnail">
	      <div class="caption">
  			<h3><a href="/party/<%=party.title%>" > <%= party.title %> </a></h3>
  			<h6>Создано: <%= party.created.toLocaleDateString() %></h6>
	        <p><%- party.description %></p>
	        <p><h6>Кто идет: <%- party.guests %></h6></p>
	      </div>
	    </div>
<% }) %>
 <% } else { %>
 	<h4>Нет мероприятий...</h4>
 <% } %>
</div>



<script type="text/javascript">
	  $(document.forms['party-form']).on('submit', function() {
	  	var form = $(this);
	  	$('.error', form).html('');
	  	 

	  	$.ajax({
	  		url: "/room",
	  		method: "post",
	  		data: form.serialize(),
	  		complete: function() {
	  			//$(':submit', form).button('reset');
	  		},
	  		statusCode: {
	  			200: function() {
	  				form.html("Ypu enters").addClass('alert-Success');
	  				window.location.href = "/room";
	  			},
	  			403: function() {
	  				var error = JSON.parse(jqXHR.responseText);
	  				$('.error', form).html(error.message)
	  			}
	  		}
	  	});
	  	return false
	  });
</script>