<% layout('./layout/page')%>
<% block('title', 'room')%>
<% if (user) { %>
<p style="text-align:center;font-size: 16px;"> Добро пожаловать, <%=user.get('username')%> </p>
<% } %>

<div class='loginBox'>
        		<form name="party-form" class="login-form">
				  <div class="container">
				    <label><b>Название мероприятия</b></label>
				    <input class="login-form__input" type="text" placeholder="Название мероприятия" name="party_title" id="input-title"/> 
				    <label><b>Описание</b></label>
				    <input class="login-form__input" type="text" placeholder="Описание" name="party_description" id="input-descr"/>  
				    		     
				  </div>
				  <div class="footer">
				  	<button type="submit" class="footer__btn_submit">Добавить</button>		
				    <button type="button" class="footer__btn_cancel" data-loading-text="Sending..."
				    	onClick="$('<form method=POST action=/chatout>').submit();return false">	Отмена </button>   
				  </div>
				</form>
</div>

<% if (parties) { %>
<div class="parties">
<% parties.forEach( function(party) { %>
<div class="partybox">  
  <a class ="partybox__title"href="/party/<%=party.title%>" > <%= party.title %> </a>
  <div class="partybox__body">
      <%- party.description %>
  </div>
  <p class="partybox__user">Кто идет: <%- party.guests %></p>	 
</div>
<% }) %>
 <% } else { %>
 	<h4>Нет мероприятий...</h4>
 <% } %>	
<div>	



<script type="text/javascript">
	  $(document.forms['party-form']).on('submit', function() {
	  	var form = $(this);
	  	$('.error', form).html('');
	  	 

	  	$.ajax({
	  		url: "/room",
	  		method: "post",
	  		data: form.serialize(),
	  		complete: function() {
	  			//$(':submit', form).button('reset');
	  		},
	  		statusCode: {
	  			200: function() {
	  				form.html("Ypu enters").addClass('alert-Success');
	  				window.location.href = "/room";
	  			},
	  			403: function() {
	  				var error = JSON.parse(jqXHR.responseText);
	  				$('.error', form).html(error.message)
	  			}
	  		}
	  	});
	  	return false
	  });
</script>